* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

h1 {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  gap: 0.3rem;
}

header {
  background-color: rgb(200, 203, 207);
  grid-area: header;
}

main {
  background-color: rgb(193, 199, 207);
  grid-area: main;
}
.main {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: rgb(200, 203, 207);
  grid-area: footer;
  justify-content: center;
}

/*
backup (old) code
*/

.Line {
  stroke-width: 4px;
}

.Line :hover {
  stroke: aqua;
}
