html,
body,
h1 {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: grid;
  grid-template-columns: 5rem auto 5rem;
  grid-template-rows: 3rem auto 3rem;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  gap: 5px;
}

.Line {
  stroke-width: 4px;
}

.Line :hover {
  stroke: aqua;
}

header {
  background-color: rgb(137, 174, 209);
  grid-area: header;
  justify-items: center;
}

main {
  background-color: rgb(189, 142, 84);
  grid-area: main;
}

.contents {
  justify-items: center;
}

footer {
  background-color: rgb(119, 189, 154);
  grid-area: footer;
  justify-content: center;
}
